<!-- The Modal -->
<div th:fragment="student-modal" class="modal fade" id="student-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tạo mới sinh viên</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="student-form">
                    <div class="mb-3 mt-3">
                        <label for="name" class="form-label">Tên sinh viên : </label>
                        <input type="text" name="name" id="name"  class="form-control" placeholder="Mời bạn nhập tên sinh viên">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">SĐT : </label>
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Mời bạn nhập SĐT">
                    </div>
                    <div class="mb-3">
                        <label for="dob" class="form-label">Ngày sinh</label>
                        <input type="date" name="dob" id="dob" class="form-control" placeholder="Mời bạn nhập ngày sinh : ">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ : </label>
                        <input type="text" name="address" id="address" class="form-control" placeholder="Mời bạn Địa chỉ">
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-primary" id="save-student-btn">Lưu</button>
            </div>

        </div>
    </div>
</div>