<script src="/js/vendors/modernizr-3.6.0.min.js"></script>
<script src="/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/js/vendors/jquery-migrate-3.3.0.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/waypoints.js"></script>
<script src="/js/vendors/wow.js"></script>
<script src="/js/vendors/magnific-popup.js"></script>
<script src="/js/vendors/perfect-scrollbar.min.js"></script>
<script src="/js/vendors/select2.min.js"></script>
<script src="/js/vendors/isotope.js"></script>
<script src="/js/vendors/scrollup.js"></script>
<script src="/js/vendors/swiper-bundle.min.js"></script>
<script src="/js/vendors/noUISlider.js"></script>
<script src="/js/vendors/slider.js"></script>
<!-- Count down-->
<script src="/js/vendors/counterup.js"></script>
<script src="/js/vendors/jquery.countdown.min.js"></script>
<!-- Count down-->
<script src="/js/vendors/jquery.elevatezoom.js"></script>
<script src="/js/vendors/slick.js"></script>
<script src="/js/main.js?v=3.0.0"></script>
<script src="/js/shop.js?v=1.2.1"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script src="/js/common.js"></script>
<script src="/js/authentication/current-user-info.js"></script>
