<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common/head :: my-head(pageTitle='Job Application')}"/>


<body>

<div class="page-wrapper">

  <!-- Preloader -->
  <div class="preloader"></div>

  <!-- Header Span -->
  <span class="header-span"></span>

  <!-- Main Header -->
  <header th:replace="~{fragments/common/header :: my-header}"/>
  <!-- End Main Header -->

  <!-- Job Detail Section -->
  <section class="job-application-section">
    <div class="job-application-outer">
      <div class="auto-container">
        <div class="row mx-5 px-5">
          <div class="content-column mx-5 px-5">
              <h2 class="mb-4 mt-5">Apply for ??????</h2>
              <div id="accordion">
                  <div class="card">
                      <div class="card-header">
                          <a class="btn text-secondary fw-500" data-bs-toggle="collapse" href="#collapseOne">
                              Choose a CV
                          </a>
                      </div>
                      <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                          <div class="card-body">
                              Lorem ipsum..
                          </div>
                      </div>
                  </div>

                  <div class="card">
                      <div class="card-header">
                          <a class="collapsed btn text-secondary fw-500" data-bs-toggle="collapse" href="#collapseTwo">
                              Upload your CV
                          </a>
                      </div>
                      <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                          <div class="card-body">
                              <div class="uploading-outer d-flex justify-content-center candidate-avatar">
                                  <figure>
                                      <img src="" class="img-avatar" alt="" style="cursor: pointer; height: 120px; width: 200px;">
                                      <div class="uploadButton">
                                          <input class="uploadButton-input" type="file" name="avatar"
                                                 accept="image/*" id="avatar-input"/>
                                          <label class="uploadButton-button ripple-effect change-avatar-btn" for="avatar-input">Browse Avatar</label>
                                          <span class="uploadButton-file-name"></span>
                                      </div>
                                      <div class="text">Max file size is 1MB</div>
                                      <p id="avatar-error" class="error"></p>
                                  </figure>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Job Detail Section -->


  <!-- Main Footer -->
  <footer th:replace="~{fragments/common/footer :: my-footer}"/>
  <!-- End Main Footer -->


</div><!-- End Page Wrapper -->


<th:block th:replace="~{fragments/common/embedded-js :: embedded-js}"/>
<script src="/js/custom/candidate/job/job-application.js"></script>
</body>

</html>