<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common/head :: my-head(pageTitle='Search Job')}"/>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header -->
    <header th:replace="~{fragments/common/header :: my-header}"/>
    <!-- End Main Header -->

    <!-- Listing Section -->
    <section class="ls-section style-two">
        <div class="filters-backdrop"></div>

        <div class="row no-gutters">
            <!-- Filters Column -->
            <div class="filters-column col-xl-3 col-lg-4 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="filters-outer">
                        <button type="button" class="theme-btn close-filters">X</button>

                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Search by Keywords</h4>
                            <div class="form-group">
                                <input type="text" name="listing-search" placeholder="Job title, keywords, or company">
                                <span class="icon flaticon-search-3"></span>
                            </div>
                        </div>

                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Location</h4>
                            <div class="form-group">
                                <input type="text" name="listing-search" placeholder="City or postcode">
                                <span class="icon flaticon-map-locator"></span>
                            </div>
                        </div>

                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Category</h4>
                            <div class="form-group">
                                <select class="chosen-select">
                                    <option>Choose a category</option>
                                    <option>Residential</option>
                                    <option>Commercial</option>
                                    <option>Industrial</option>
                                    <option>Apartments</option>
                                </select>
                                <span class="icon flaticon-briefcase"></span>
                            </div>
                        </div>

                        <!-- Switchbox Outer -->
                        <div class="switchbox-outer">
                            <h4>Job type</h4>
                            <ul class="switchbox">
                                <li>
                                    <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                        <span class="title">Freelance</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">Full Time</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">Internship</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">Part Time</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        <span class="title">Temporary</span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <!-- Checkboxes Ouer -->
                        <div class="checkbox-outer">
                            <h4>Date Posted</h4>
                            <ul class="checkboxes">
                                <li>
                                    <input id="check-f" type="checkbox" name="check">
                                    <label for="check-f">All</label>
                                </li>
                                <li>
                                    <input id="check-a" type="checkbox" name="check">
                                    <label for="check-a">Last Hour</label>
                                </li>
                                <li>
                                    <input id="check-b" type="checkbox" name="check">
                                    <label for="check-b">Last 24 Hours</label>
                                </li>
                                <li>
                                    <input id="check-c" type="checkbox" name="check">
                                    <label for="check-c">Last 7 Days</label>
                                </li>
                                <li>
                                    <input id="check-d" type="checkbox" name="check">
                                    <label for="check-d">Last 14 Days</label>
                                </li>
                                <li>
                                    <input id="check-e" type="checkbox" name="check">
                                    <label for="check-e">Last 30 Days</label>
                                </li>
                            </ul>
                        </div>

                        <!-- Checkboxes Ouer -->
                        <div class="checkbox-outer">
                            <h4>Experience Level</h4>
                            <ul class="checkboxes square">
                                <li>
                                    <input id="check-ba" type="checkbox" name="check">
                                    <label for="check-ba">All</label>
                                </li>
                                <li>
                                    <input id="check-bb" type="checkbox" name="check">
                                    <label for="check-bb">Internship</label>
                                </li>
                                <li>
                                    <input id="check-bc" type="checkbox" name="check">
                                    <label for="check-bc">Entry level</label>
                                </li>
                                <li>
                                    <input id="check-bd" type="checkbox" name="check">
                                    <label for="check-bd">Associate</label>
                                </li>
                                <li>
                                    <input id="check-be" type="checkbox" name="check">
                                    <label for="check-be">Mid-Senior level4</label>
                                </li>
                                <li>
                                    <button class="view-more"><span class="icon flaticon-plus"></span> View More</button>
                                </li>
                            </ul>
                        </div>

                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Salary</h4>

                            <div class="range-slider-one salary-range">
                                <div class="salary-range-slider"></div>
                                <div class="input-outer">
                                    <div class="amount-outer">
                      <span class="amount salary-amount">
                        $<span class="min">0</span>
                        $<span class="max">0</span>
                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Filter Block -->
                        <div class="filter-block">
                            <h4>Tags</h4>
                            <ul class="tags-style-one">
                                <li><a href="#">app</a></li>
                                <li><a href="#">administrative</a></li>
                                <li><a href="#">android</a></li>
                                <li><a href="#">wordpress</a></li>
                                <li><a href="#">design</a></li>
                                <li><a href="#">react</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-xl-9 col-lg-8 col-md-12 col-sm-12">
                <div class="ls-outer">
                    <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>

                    <div class="row" id="candidate-jobs">
                    </div>

                    <div class="row w-100 align-items-center" id="job-paging">
                        <div class="col total-record">
                        </div>
                        <div class="col">
                            <ul class="pagination justify-content-end" style="margin:20px 0">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Ls Footer -->
                <div class="ls-footer">
                    <div class="copyright-text">© 2021 Superio. All Right Reserved.</div>
                </div>
            </div>
        </div>
    </section>
    <!--End Listing Page Section -->

</div><!-- End Page Wrapper -->


<th:block th:replace="~{fragments/common/embedded-js :: embedded-js}"/>
<script src="/js/custom/candidate/job/jobs.js"></script>
</body>

</html>