@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,400;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,400;1,400;1,700&family=Young+Serif&display=swap");

body {
  background-color: #f2ebe3;
}

.main-color {
  color: #3c8067;
}

.main-bg-color {
  background-color: #3c8067;
}

.secondary-color {
  color: #6c7289;
}

.container {
  max-width: 45% !important;
  max-height: 80% !important;
}

.h-100vh {
  height: 100vh !important;
}

.img-product {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.font-monserat {
  font-family: "Montserrat", sans-serif;
}

.font-fraunces {
  font-family: "Fraunces", sans-serif;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-500 {
    font-weight: 500;
  }

h2 {
  font-size: 16px;
  letter-spacing: 4px;
}

h3 {
  line-height: 1;
}

.font-size-36 {
  font-size: 36px;
}

.cart a:hover {
    background-color: #2e5d4c;
}