.main-menu .navigation > li > .mega-menu {
    width: 250px !important;
}

.job-search-form {
    min-width: 80vw !important;
}

.job-search-form .chosen-container-multi {
    padding-left: 15px;
}

.favorite-job {
    background-color: #1967d2 !important;
}

.favorite-job i {
    color: #fff !important;
}

.job-application-section .card {
    height: unset !important;
    border-radius: 0 !important;
}

.job-application-section .card .card-header a,
.job-application-section .card .card-header a:active {
    border: none !important;
}

.job-application-section .card .card-header a[aria-expanded="true"] {
    color: #0a53be !important;
}
