body {
  background-color: #141414;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*viewport height*/
  font-size: 14px;
}

.container {
  padding: 30px;
  background-color: #1f1f1f;
  text-align: center;
  border-radius: 10px;
  max-width: 20%;
}

.avatar {
  border-radius: 50%;
  max-width: 80px;
}

.name {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0;
}

.address {
  color: #c5f82a;
  margin-top: 5px;
  font-size: 18px;
}

.slogan {
  color: #fff;
}

.basic-info {
  margin-bottom: 25px;
}

.btn {
  text-decoration: none;
  color: #fff;
  padding: 10px 50px;
  background-color: #333;
  border-radius: 5px;
  display: block;
  margin: 12px 0;
}

.btn:last-child {
  margin-bottom: 0;
}

.btn:hover {
  background-color: #c5f82a;
}
