<div class="row" th:fragment="company-profile" id="company-profile-block">
    <div class="col-lg-12">
        <!-- Ls widget -->
        <div class="ls-widget">
            <div class="tabs-box">
                <div class="widget-title">
                    <h4>My Profile</h4>
                </div>

                <div class="widget-content">

                    <div class="uploading-outer">
                        <div class="uploadButton">
                            <input class="uploadButton-input" type="file" name="attachments[]"
                                   accept="image/*, application/pdf" id="upload" multiple/>
                            <label class="uploadButton-button ripple-effect" for="upload">Browse Avatar</label>
                            <span class="uploadButton-file-name"></span>
                        </div>
                        <div class="text">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg &
                            .png
                        </div>
                    </div>

                    <form class="default-form" id="company-info-form">
                        <div class="row">
                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <label>Company name</label>
                                <input type="text" name="name" placeholder="">
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <label>Alias</label>
                                <input type="text" name="alias" placeholder="">
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <label>Phone</label>
                                <input type="text" name="name" placeholder="">
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <label>Found at</label>
                                <input type="text" name="foundAt" placeholder="">
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <label>Tax code</label>
                                <input type="text" name="taxCode" placeholder="">
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <label>Head quarter address</label>
                                <input type="text" name="headQuarterAddress" placeholder="">
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <label>Employee quantity</label>
                                <input type="number" name="employeeQuantity" placeholder="">
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <label>Website</label>
                                <input type="text" name="website" placeholder="">
                            </div>

                            <!-- About Company -->
                            <div class="form-group col-lg-12 col-md-12">
                                <label>About Company</label>
                                <textarea placeholder="Spent several years working on sheep on Wall Street. Had moderate
                                 success investing in Yugo's on Wall Street. Managed a small team buying and selling
                                 Pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach,
                                 FL. Developed several new methods for working it banjos in the aftermarket. Spent a
                                 weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer
                                  collaborates with Evention's Development team to continuously enhance our current
                                  software solutions as well as create new solutions to eliminate the back-office
                                  operations and management challenges present"></textarea>
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <label>Rating</label>
                                <input type="number" name="rating" placeholder="">
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <button type="button" class="theme-btn btn-style-one account-info-saving-btn">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>