@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Roboto:ital,wght@0,400;1,400;1,700&display=swap');

body {
    font-family: "Lexend Deca", sans-serif;
    background-color: #F2F2F2;
    height: 100vh;
    color: #fff;
}

.bg-yellow {
    background-color: #E38826;
}

.bg-green {
    background-color: #006970;
}

.bg-dark-green {
    background-color: #004241;
}

.container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    max-width: 60%;
}

.column {
    padding: 30px 50px 50px;
}

h2 {
    font-family: "Big Shoulders Display";
    font-size: 50px;
}

p {
    font-family: "Lexend Deca", sans-serif;
}