<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/common/head :: html_head(pageTitle='forget - Ecom Marketplace Template')}">
<body>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center"><img class="mb-10" src="/img/template/favicon.svg" alt="Ecom">
                <div class="preloader-dots"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/common/header :: header"></div>
<main class="main">
    <section class="section-box shop-template mt-60">
        <div class="container">
            <div class="row mb-100">
                <div class="col-lg-4"></div>
                <div class="col-lg-5">
                    <h3>Đặt lại mật khẩu</h3>
                    <p class="font-md color-gray-500">Vui lòng nhập mật khẩu mới của bạn</p>
                    <div class="form-register mt-30 mb-30">
                        <form id="passwordNew-form">
                            <div class="form-group">
                                <label for="password" class="mb-5 font-sm color-gray-700">Mật khẩu mới *</label>
                                <div class="password-wrapper">
                                    <input class="form-control" id="password" name="password" type="password"
                                           placeholder="************">
                                    <i id="toggle-password" class="fas fa-eye icon-password"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmedPassword" class="mb-5 font-sm color-gray-700">Xác nhận mật khẩu *
                                </label>
                                <div class="password-wrapper">
                                    <input class="form-control" id="confirmedPassword" name="confirmedPassword"
                                           type="password"
                                           placeholder="************">
                                    <i id="toggle-confirmed-password" class="fas fa-eye icon-password"></i>
                                </div>
                            </div>
                            <p class="font-md color-gray-500 error" id="failed-email"></p>
                            <div class="form-group row">
                                <div class="col d-flex justify-content-end">
                                    <button class="font-md-bold btn btn-secondary me-2" id="btn-cancel" type="button">
                                        Hủy
                                    </button>
                                    <button class="font-md-bold btn btn-primary" id="btn-confirm" type="button">
                                        Xác nhận
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </section>
</main>
<div th:insert="fragments/common/footer" :: footer></div>
<div th:insert="fragments/common/scripts" :: scripts></div>
<script src="/js/authentication/password-forgot.js"></script>
</body>
</html>