<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/common/head :: html_head(pageTitle='Register - Ecom Marketplace Template')}">
<body>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center"><img class="mb-10" src="/img/template/favicon.svg" alt="Ecom">
                <div class="preloader-dots"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/common/header :: header"></div>
<main class="main">
    <section class="section-box shop-template mt-60">
        <div class="container">
            <div class="row mb-100">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <h3>Tạo tài khoản</h3>
                    <div class="form-register mt-30 mb-30">
                        <form id="register-form">
                            <div class="form-group">
                                <label for="name" class="mb-5 font-sm color-gray-700">Họ và tên *</label>
                                <input class="form-control" type="text" id="name" placeholder="Trần Văn A"
                                       name="name">
                            </div>
                            <div class="form-group">
                                <label for="email" class="mb-5 font-sm color-gray-700">Email *</label>
                                <input class="form-control" type="email" id="email" placeholder="trantv@gmail.com"
                                       name="email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="mb-5 font-sm color-gray-700">Mật khẩu *</label>
                                <div class="password-wrapper">
                                    <input class="form-control" type="password" id="password"
                                           placeholder="***************"
                                           name="password">
                                    <i id="toggle-password" class="fas fa-eye icon-password"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="mb-5 font-sm color-gray-700">Số điện thoại *</label>
                                <input class="form-control" type="text" id="phone" placeholder="0912345678"
                                       name="phone">
                            </div>
                        </form>
                        <div class="form-group">
                            <button class="font-md-bold btn btn-buy" id="btn-create" type="button">Đăng ký</button>
                        </div>
                    </div>
                    <div class="mt-20"><span
                            class="font-xs color-gray-500 font-medium">Đã có tài khoản </span><a
                            class="font-xs color-brand-3 font-medium" href="logins">Đăng nhập</a></div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </section>
</main>
<div th:insert="fragments/common/footer" :: footer></div>
<div th:insert="fragments/common/scripts" :: scripts></div>
<script src="/js/authentication/register.js"></script>
</body>
</html>