<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/common/head :: html_head(pageTitle='Gửi lại email')}">
</head>
<body>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center"><img class="mb-10" src="/img/template/favicon.svg" alt="Ecom">
                <div class="preloader-dots"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/common/header :: header"></div>
<main class="main">
    <section class="section-box shop-template mt-60">
        <div class="container">
            <div class="row mb-100">
                <div class="col-lg-4"></div>
                <div class="col-lg-5">
                    <h3>Gửi lại email kích hoạt</h3>
                    <p class="font-md color-gray-500" id="send-email"></p>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </section>
</main>
<input type="hidden" id="userId" th:value="${userId}">
<div th:insert="fragments/common/footer" :: footer></div>
<div th:insert="fragments/common/scripts" :: scripts></div>
<script src="/js/authentication/send-activation-email.js"></script>
</body>
</html>